@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode - default */
/* globals.css */
html {
  background-color: theme('colors.background.light');
  color: theme('colors.foreground.light');
  transition: background-color 0.3s, color 0.3s;
}

html.dark {
  background-color: theme('colors.background.dark');
  color: theme('colors.foreground.dark');
  transition: background-color 0.3s, color 0.3s;
}


